{% extends 'base.html' %}
{% block title %}About  Mediterranean Delights{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="text-center mb-4">
    <h1>About Mediterranean Delights</h1>
    <p>A simple idea, good food, and real flavors.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <p>
        We started Mediterranean Delights with one goal  serve fresh and  flavorful Mediterranean food that feels like home.
        Everything we make is made daily, with ingredients that are simple, clean, and full of taste.
      </p>
      <p>
        Whether you are craving shawarma, falafel, or just need something quick and good, we got you. 
        This isnt a big chain, its a local spot with real passion behind it.
      </p>
      <p>
        Thanks for supporting us.
      </p>
    </div>
  </div>
</div>
{% endblock %}

<!-- this is our about page displays a intro, used p paragraphs to list our motto and what we bring to our customers  -->
