<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mediterranean Delights{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Mediterranean Delights</h1>

    <nav>
        <a href="{{ url_for('main.home') }}">Home</a> |
        <a href="{{ url_for('menu.menu_display') }}">Menu</a> |
        <a href="{{ url_for('order.order_page') }}">Order</a> |
        <a href="{{ url_for('main.gallery') }}">Gallery</a> |
        <a href="{{ url_for('main.contact') }}">Contact</a> |
        <a href="{{ url_for('main.about') }}">About</a>
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <footer>
        <p1>  Mediterranean Delights</p1>
    </footer>

</body>
</html>
